.embla {
  position: relative;
  overflow: hidden;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
  user-select: none;
}
.embla__slide {
  min-width: 100%;
}
.embla__slide-thumb {
  aspect-ratio: 1 / 1;
}
